 <div id="chat-show">
  <div id='chatbox'>
    <h1>Demo Chat</h1>

    <ul id="chat">
      <%= render @messages %>
    </ul>

    <div id='chat-input'>
      <%= form_tag remote: true do  %>
        <%= text_field_tag :content, "", class: "chat-input" %>
        <%= hidden_field_tag :chat_id, value: @chat.id %>
        <%= hidden_field_tag :author_id, value: @chat.customer_id %>
        <%= hidden_field_tag :author_type, value: 'Customer' %>
        <%= submit_tag "Send", controller: :messages, action: :create, class: "btn btn-success pull-right span3" %>
      <% end %>
    </div>
  </div>
</div>

<%= subscribe_to admin_chat_path(@chat) %>
