  <div id='chatbox'>
    <h1>Chat #<%= @chat.id%></h1>

    <ul id="chat">
      <%= render partial: 'admin/chats/message', collection: @messages %>
    </ul>

    <div id='chat-input'>
      <%= form_for Message.new, remote: true do |f| %>
        <%= f.text_field :content, class: "chat-input" %>
        <%= f.hidden_field :chat_id, value: @chat.id %>
        <%= f.submit "Send", class: "btn btn-success pull-right span3" %>
      <% end %>
    </div>
  </div>

<%= subscribe_to chat_path(@chat) %>
