<%= form_for @customer do |f| %>
  <% if @customer.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @customer.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="customer-field">
    <%= f.label :name %>
    <%= f.password_field :name %>
  </div>
  <div class="customer-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.submit("Create account", class: "btn btn-success span5 pull-right") %>
  </div>
<% end %>