<h1>Demo Side</h1>
  <div id='chatbox'>
  <ul id="chat">
  <%= render @messages %>

  </ul>

  <div id='chat-input'>
    <%= form_for Message.new, remote: true do |f| %>
      <%= f.text_field :content %>
      <%= f.hidden_field :chat_id, value: @chat.id %>
      <%= f.submit "Send", class: "btn" %>
    <% end %>
  </div>
</div>



