<div id='inner_chatbox_<%= @chat.id%>' class="admin_chat_box">

  <h4>Chat #<%= @chat.id%></h4>
  <button id="<%= @chat.id %>" class='btn btn-mini resolve_button pull-right resolve_issue'>Resolve</button>

  <hr>

  <div class="admin_chat_content">
    <ul id="chat<%= @chat.id%>" >
       <%= render partial: 'messages/message', collection: @messages %>
    </ul>
  </div>

  <hr>

  <div id='chat-input'>
    <%= form_for Message.new, remote: true do |f| %>
      <%= f.hidden_field :chat_id, value: @chat.id %>
      <%= f.hidden_field :author_id, value: current_user.id %>
      <%= f.hidden_field :author_type, value: "User" %>
      <div class="input-append">
        <%= f.text_field :content, id: "appendedInputButton", class: "chat-input" %>
        <%= f.submit "Send", class: "btn btn-success admin_button" %>
      </div>
    <% end %>
  </div>

</div>

<%= subscribe_to admin_chat_path(@chat.id) %>
