<div id="customer-chat">
  <p id="customer-chat-time"><%= formatted_time(@chat.created_at)%></p>
  <p id="customer-chat-message">Hello <%= @chat.customer.name%>. You can start this chat by typing your question below.</p>

  <ul id="chat">
    <%= render partial: 'admin/chats/message', collection: @messages %>
  </ul>

  <div id="customer-chat-box">
    <%= form_for Message.new, remote: true do |f| %>
      <%= f.text_field :content, class: "chat-input" %>
      <%= f.hidden_field :chat_id, value: @chat.id %>
      <%= f.hidden_field :customer_id, value: @chat.customer_id %>
    <% end %>
  </div>
</div>

<%= subscribe_to admin_chat_path(@chat) %>
