<!DOCTYPE html>
<html>
<head>
  <title>SupportMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults, "http://localhost:9292/faye.js" %>
  <%= csrf_meta_tags %>
</head>
  <body class="<%= params[:controller] %>">
    <div id="container-fluid">

      <% unless request.fullpath == "/customers/new" %>
        <%= render "layouts/navbar" %>
      <% end %>

      <%= render "layouts/notices" %>

      <%= yield %>
    </div>
  </body>
</html>
